body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(210, 210, 210);
    text-align: center;
}
header {
    background-color: rgb(224, 224, 92);
    color: rgb(19, 18, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
    position: sticky;
    top: 0;
}
header > h1 {
    margin:  0;
    font-size: 62px;
}
#main-cont {
    width: 100%;
    padding: 65px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
.box-style {
    width: 240px;
    height: 200px;
    background-color: rgb(40, 40, 39);
    color: rgb(204, 201, 201);

}